<!doctype html>

<html lang="cn">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{title}}</title>
    <meta name="description" content="The BigZhu's Blog">
    <meta name="author" content="BigZhu">

    <link rel="stylesheet" href="/static/github-markdown-css/github-markdown.css">
    <link rel="stylesheet" href="/static/style.css">
    <style>
      .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
      }
    </style>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <article class="markdown-body">
    <header>
    <h1>{{title}}</h1>
    <p class="meta">
    modify by <a href="http://www.lorstone.com" target="blank">bigzhu</a> at <time datetime="{{ time.strftime('%Y-%m-%d-%H:%M:%S', modify_time)  }}">{{ time.strftime('%Y年%m月%d日%H:%M:%S', modify_time)  }}</time>
    </p>
    </header>
    {{content}}
    {% if pre is not None%}
    <p>
    <a href="/{{pre}}" >←  {{pre}} </a>
    </p>
    {% end %}
    {% if old is not None%}
    <p>
    <a href="/{{old}}" >{{old}} → </a>
    </p>
    {% end %}

    </article>
  </body>
</html>
